*.vux
*.working
#ant specific
dist/
build/

#netbeans specific
core
stockSim/nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
/stockSim/nbproject/private/
/PomodoroTimer-master/nbproject/private/
